*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Gulfs Display";
    src: url('../fonts/gulfs/GulfsDisplay-Normal.woff2') format('woff2');
    src: url('../fonts/gulfs/GulfsDisplay-Normal.woff') format('woff');
    src: url('../fonts/gulfs/GulfsDisplay-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@media(min-width:768px )and (max-width:3000px){

/* parte de nosotros y lo de entrada */
.nosotros{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows:repeat(16, 1fr) ;
    width: 99vw;
    height: 200vh;  
    background-color: #fff460;
    border-bottom: 3px solid black;
}
.textopri{
    grid-column: 6 / span 6 ;
    grid-row: 3 / span 2 ;
    /* border:  1px solid beige; */
    font-family: Gulfs Display;
    font-size: 6em;
    text-align:center;
    /* letter-spacing: 0px; */
    width: 100%;
    color: blue;
    position: relative;
    top: -160px;
    z-index: 1;
}

.esposa{
    position: relative;
    border: 2px solid #000000;
    background-color: #000000;
    border-radius: 2em;
    overflow: hidden;
    grid-column:13 / span 2 ;
    grid-row: 2 / span 3;
    left: 50px;

}
.mujer1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Rayon{
    position: relative;
    grid-column: 13;
    grid-row: 4;
    right: 25px;
}
.esposos1{
    border: 2px solid #000000;
    background-color: #000000;
    border-radius: 3em;
    grid-column: 2 / span 3;
    grid-row: 6 / span 3;
    overflow: hidden;
    position: relative;
    top: -19%;
}
.espososdos{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.esposos2{
    border: 2px solid black;
    background-color: #000000;
    grid-row: 4 / span 7;
    grid-column: 6/ span 4;
    border-radius: 100vw;
    overflow: hidden;
    margin-bottom: 50px;
    position: relative;
    right: -120px;
    top:8px;
}

.pareja2{
    width: 100%;
    height: 100%;
}
.rosa{
    background-color: #ffb4ce;
    grid-column: 1 / 17;
    grid-row: 1 / 7;
    border-bottom: 2px solid black;
    display: grid;
}
a{
    outline: none;
    text-decoration: none;
}
a:link{
    color: #000000;
}
a:visited {
    color: #000000;
}
nav ol li{
    display: inline;
    list-style: none; /* oculta los puntos o numeros */
    margin: 80px;
    font-size: 25px;
    color: #000000;
}
.menu{
    position: relative;
    display: flex;
    justify-content: flex-end;
    grid-column:1/  7;
    top: 25px;
}
.icono1 {
    position: relative;
    right: 0px;
    top: 2px;
    width: 25px;
}
.icono2 {
    position: relative;
    right: 10px;
    top: 8px;
    width: 25px;
}.icono3 {
    position: relative;
    right: 10px;
    top: 8px;
    width: 25px;
}.icono4 {
    position: relative;
    right: 10px;
    top: 7px;
    width: 25px;
}
.aterisco{
    position: relative;
    grid-column: 7;
    grid-row: 7;
    top: -68px;
    right: 64px;
}
.imagen_feliz{
    grid-column: 12 / span 2;
    grid-row: 6 / span 2;
}
.feliz{
    width: 100%;
    height: 100%;
    will-change: transform;
    animation:  30s linear infinite;
    transform: will;
}
.estrella1{
    grid-column: 4;
    grid-row: 3;
    position: relative;
    left: 20%;
    top: 50%;
}
.estrella_c_puntas1{
    width: 30%;
}
.estrella2{
    grid-column: 5;
    grid-row: 5;

}
.estrella_c_puntas2{
    width: 70%;
}
.estrella3{
    grid-column: 11;
    grid-row: 5;
    position: relative;
    left: 100px;

}
.estrella_c_puntas3{
    width: 50%;
}
.imgcirculos1{
    grid-column: 1;
    grid-row: 11;
    position: relative;
    left: 60%;
}

.imgcirculos2{
    grid-column: 16;
    grid-row: 11;
    position: relative;
    left: 0%;
}

.imgcirculos3{
    grid-column: 1;
    grid-row: 16;
    position: relative;
    left: 60%;
}
.imgcirculos4{
    grid-column: 16;
    grid-row: 16;
    position: relative;
    
}

.cuadro1{
    border: 2px solid black;
    grid-row: 12 / span 4;
    grid-column: 3 / span 3;
    background-color:#ffb4ce;
    transform: rotateZ(-5deg);
    position: relative;
    top: -80px ;
    left: 50px;
    width: 150%;
    height: 120%;

}
.cuadro2{
    border: 2px solid black;
    grid-row: 12 / span 4;
    grid-column: 3 / span 3;
    background-color: #ffb4ce;
    transform: rotateZ(-5deg);
    position: relative;
    top: -105px ;
    left: 75px;
    width: 150%;
    height: 120%;


}
.cuadro3{
    border: 2px solid black;
    grid-row: 12 / span 4;
    grid-column: 3 / span 3;
    background-color: white;
    transform: rotateZ(-5deg);
    position: relative;
    top: -130px ;
    left: 100px;
    width: 150%;
    height: 120%;

}
.celebracion{
    width: 90%;
    height: 90%;
    object-fit: cover;
    position: relative;
    left: 26px;
    top: 28px;
    border: 4px solid black;
}
.texto1{
    grid-column: 2 / span 2 ;
    grid-row: 11;
    position: relative;
    top: 12px;
    left: 11px;
}
.texto2{
    grid-column: 13 / span 3;
    grid-row: 11;
    position: relative;
    left: 20%;
    top: 15px;
}
.texto3{
    grid-column: 9 / span 4;
    grid-row: 11 / span 2;
    font-size: 150px ;
    position: relative;
    top: -50px;
    color: #fff460;
    text-shadow: -2px -2px 0 blue,
    2px -2px 0 blue,
    -2px 2px 0 blue,
    2px 2px 0 blue;
    font-family: Gulfs Display;
}
.texto3_1{
    grid-column: 9 / span 4;
    grid-row: 11 / span 2;
    font-size: 150px ;
    position: relative;
    top: 70px;
    color: #fff460;
    text-shadow: -2px -2px 0 blue,
    2px -2px 0 blue,
    -2px 2px 0 blue,
    2px 2px 0 blue;
    font-family: Gulfs Display;
}
.texto4{
    grid-column: 9 / span 5;
    grid-row: 13 / span 4;
    font-size: 140% ;
    font-family:Gulfs Display ;
}

.texto5_1{
    grid-column: 9 / span 2;
    grid-row: 15 / span 1;
    font-size: 100% ;
    display: flex;
    align-items:  center;
    color: #000000;
}
h3{
    font-family:Gulfs Display ;
}
.anillos{
    grid-column: 11 ;
    grid-row: 15;
}
.anilloss{
    width: 110%;
    height: 110%;
}
.estrella_ocho_puntas{
    grid-column: 12;
    grid-row: 15;
}
.ocho_puntas{
    width: 100%;
    height: 100%;
}
/*  Parte de galeria  */
.galeria{
    border: 1px solid black;
    background-color: rgb(175, 175, 175);
    height: 180vh;
    width:80% ;
    margin-left:  auto;
    margin-right:  auto;
    display: grid;
    grid-template-columns: repeat(15 ,1fr);
    grid-template-rows: repeat(16, 1fr);
}
.parte_blanca{
    grid-column: 1 / 16;
    grid-row: 1 / 9;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(15,1fr);
    grid-template-rows: repeat(8,1fr);
}
.deslizar_derecha{
    grid-column: 1 / span 15 ;
    grid-row: 2 / span 3;
    /* background-color: burlywood; */
    position: relative;
    top: -55px;
    overflow: hidden;
    display: flex;
    gap: 10px;
}
.img1{
    border: 2px solid black;
    border-radius: 2em;
    width: 17%;
    height: 100%;
    background-color: #000000;
    overflow: hidden;
    position: relative;
    right: 20px;
}
.mujer_feliz{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img2{
    border: 2px solid black;
    border-radius: 2em;
    width: 27%;
    height: 100%;
    background-color: #000000;
    overflow: hidden;
    position: relative;
}
.mujer_con_ramo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img3{
    border: 2px solid black;
    border-radius: 2em;
    width: 27%;
    height: 100%;
    background-color: #000000;
    overflow: hidden;
    position: relative;
    left: 20px ;
}
.esposos_arbol{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img4{
    border: 2px solid black;
    border-radius: 2em;
    width: 17%;
    height: 100%;
    background-color: #000000;
    overflow: hidden;
    position: relative;
    left: 50px;
}
.acantilado{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img5{
    border: 2px solid black;
    border-radius: 2em;
    width: 27%;
    height: 100%;
    background-color: #000000;
    overflow: hidden;
    position: relative;
    left: 80px;
}
.beso_esposos{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 5 imagenes mv izquierda */
.deslizar_izquierda{
    /* background-color: burlywood; */
    grid-column: 1 / span 15;
    grid-row: 6 / span 3;
    position: relative;
    top: -55px;
    overflow: hidden;
    display: flex;
    gap: 10px;
}
.img6{
    border: 2px solid black;
    border-radius: 2em;
    width: 27%;
    height: 100%;
    background-color: #000000;
    overflow: hidden;
    position: relative;
    right: 30px;
}
.esposos_manos_arriva{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img7{
    border: 2px solid black;
    border-radius: 2em;
    width: 17%;
    height: 100%;
    background-color: #000000;
    overflow: hidden;
    position: relative;
    right: 10px;
}
.esposos_felices_ramo{
    width: 100%;
    height: 100%;
    }
.img8{
    border: 2px solid black;
    border-radius: 2em;
    width: 27%;
    height: 100%;
    background-color: #000000;
    overflow: hidden;
    position: relative;
    left: 10px;
}
.esposos_dela_mano{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img9{
    border: 2px solid black;
    border-radius: 2em;
    width: 17%;
    height: 100%;
    background-color: #000000;
    overflow: hidden;
    position: relative;
    left: 30px;
    /* right: 80px; */
}
.alpes{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* sesion de precios */
.Naranja{
    grid-column: 1 / span 15;
    grid-row: 6 / span 3;
    background-color: #ff6541;
}
.texto6{
    grid-column: 1 / span 6;
    grid-row: 9 / span 2;
    background-color: #ffb4ce;
    border: 2px solid #000000;
    font-size: 5vh;
    text-align: center;
    font-family:Gulfs Display ;
    color: #ff6541;
}
.texto7{
    grid-column: 1 / span 6;
    grid-row: 11 / span 2;
    background-color: #ffb4ce;
    border: 2px solid #000000;
    font-size: 4vh;
    text-align: center;
    font-family:Gulfs Display ;
    color: blue ;
}

.texto8{
    grid-column: 7 / span 3;
    grid-row: 9 / span 4;
    background-color: #fff460;
    border: 2px solid #000000;
    font-size: 2vw;
    font-family:Gulfs Display ;
    text-align: center;
    color: #ff6541;
}
.p3{
    position: relative;
    top: 5vh;
}
.texto9{
    grid-column:10 / span 3 ;
    grid-row: 9 / span 4;
    background-color: #ffffff;
    border: 2px solid #000000;
    font-size: 2vw;
    font-family:Gulfs Display ;
    text-align: center;
    color: blue;
}
.p4{
    position: relative;
    top: 5vh;
}
.texto10{
    grid-column: 13 / span 3;
    grid-row: 9 / span 4;
    background-color: blue;
    border: 2px solid #000000;
    font-family:Gulfs Display ;
    text-align: center;
    color: white;
}
.p5{
    position: relative;
    top: 5vh;
    font-size: 2vw;
}
.DIGITAL{
    height: 50%;
    width: 76%;
    position: relative;
    top: -14vw;
}
.texto11{
    grid-column: 1 / span 3;
    grid-row: 13 / span 4;
    background-color: #fff460;
    border: 2px solid #000000;
    font-size: 2vw;
    font-family:Gulfs Display ;
    text-align: center;
    color: blue;
}
.p6{
    position: relative;
    top: 4vw;
}
.texto12{
    grid-column: 4 / span 6;
    grid-row: 13 / span 4;
    background-color: #000000;
    color: white;
    font-size: 3vw;
    font-family:Gulfs Display ;
    text-align: center;
    color: white;
}
.p7{
    position: relative;
    top: 2vw;
    right: 9vw;
}
.texto13{
    grid-column:10 / span 6 ;
    grid-row: 13 / span 2;
    background-color: #ff6541;
    border:2px solid black;
    font-size: 3vw;
    font-family:Gulfs Display ;
    text-align: center;
    color: #ffb4ce;
}
.p8{
    position: relative;
    top: 5%;
    right:10vw;
}
.p8_1{
    position: relative;
    right: 6vw;
    color: #fff460;
    font-size:5vw;
}
.texto14{
    grid-column: 10 / span 6;
    grid-row: 15 / span 2;
    background-color: #ffb4ce;
    border: 2px solid black;
    font-size: 2vw;
    font-family:Gulfs Display ;
    text-align: center;
}
.p9{
    position: relative;
    
    right:10vw;
}
/* pie de pagina o final */

.final{
    border-top : 2px solid black;
    background-color: #ffb4ce;
    width:99vw ;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
}

.texto15{
    display: flex;
    justify-content: start;
    grid-column: 4 / span 2;
    grid-row: 2;
    color: blue;
    font-size: 8vh;
    font-family:Gulfs Display;
    border: 1px solid black;
    position: relative;
    left: 23.5%;

}

.texto15_1{
    grid-column: 4;
    grid-row: 3;
    font-family: Gulfs Display;
    border: 1px solid black;
    align-items: center;
    position: relative;
    left: 47%;
}
/* parte de la caja de redes sociales  */
.caja_redes{
    display: grid;
    grid-template-columns: 35% 35% 10% 10% 10%;
    grid-template-rows:40% 40%;
    grid-column: 4 / span 2;
    grid-row: 5 ;
    border:1px solid #000000;
    background-color: #ffffff;
    height: 45%;
    position: relative;
    left: 24%;
    gap: 5px;
    padding: 10px;
    width: 110%;
    z-index: 1;
}
.facebook{
    background-color: #00b893;
    border-radius: 50%;
    width: 100%;
    height: 250%;
    position: relative;
    right: 20%;
}
.face{
    width: 30%;
    position: relative;
    left: 35%;
    top: 13%;
}
.instagram{
    background-color: #ffb4ce;
    border-radius: 50%;
    width: 100%;
    height: 250%;
    position: relative;
    right: 20%;
}
.inst{
    width: 60%;
    position: relative;
    left: 23%;
    top: 12%;
}
.telegram{
    background-color: #fff460;
    border-radius: 50%;
    width: 100%;
    height: 250%;
    position: relative;
    right: 20%;
}
.telegran{
    width: 50%;
    position: relative;
    left: 23%;
    top: 18%;
}
.texto16{
    font-family: Gulfs Display;
}
.texto17{
    font-family: Gulfs Display;
    position: relative;
    right: 10%;
    top: 50%;
}
.caja_sombra_redes{
    grid-column: 4 / span 2;
    grid-row: 5 ;
    border:1px solid #000000;
    background-color: #000000;
    height: 45%;
    position: relative;
    left: 22%;
    top: 5%;
    width: 110%;
}
.img10{
    grid-column: 2 / span 2;
    grid-row: 2/  span 2;
    position: relative;
    top: 25%;
    right: 5%;
    z-index: 1;
}
.img11{
    grid-column: 2;
    grid-row: 2 / span 2;
    position: relative;
    top: -1%;
    right: 30%;
}
.img12{
    grid-column: 2;
    grid-row: 2 ;
    position: relative;
    top: -11%;
    left: 50%;
}
.img13{
    grid-column: 1;
    grid-row: 4 ;
    position: relative;
    top: -51%;
    left: 52%;
}
.img14{
    grid-column: 2;
    grid-row: 3;
    position: relative;
    top: 24%;
    left: 130%;
}
.img15{
    grid-column: 1;
    grid-row: 5 ;
    position: relative;
    top: -61%;
    left: 76%;
}
.img16{
    grid-column: 2;
    grid-row: 3;
    position: relative;
    top: 74%;
    left: 115%;
}
.img17{
    grid-column: 2;
    grid-row: 3;
    position: relative;
    top: 184%;
    left: 100%;
    z-index: 1;
}
.img18{
    grid-column: 1;
    grid-row: 5 ;
    position: relative;
    top:21%;
    left: 86%;
    z-index: 3;
}
.img19{
    grid-column: 1;
    grid-row: 5 ;
    position: relative;
    top:1%;
    left: 86%;
    z-index: 2;
}
.img20{
    grid-column: 2;
    grid-row: 3;
    position: relative;
    top: 124%;
    left: 112%;
    z-index: 1;
}
.img21{
    grid-column: 2;
    grid-row: 2;
    position: relative;
    top: -4%;
    left: 110%;
}

}
@media(max-width:768px){
    .nosotros{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows:repeat(8, 1fr) ;
        width: 99vw;
        height: 200vh;  
        background-color: #fff460;
        border-bottom: 3px solid black;
    }
}